doctype html
html(lang="en")
  head
    title= vue_tutorial
    script(src='lib/js/jquery/jquery.min.js')
    script(src='lib/js/vue/vue.min.js')
    script(src='js/vue_test.js')
  body
    #demo
      h1 Hello, {{message}}
