doctype html
html(lang="en")
  head
    title= vue_tutorial
    script(src='lib/js/jquery/jqueryjquery.min.js')
    script(src='lib/js/vue/vue.min.js')
    script(src='js/vue_test.js')
  body
    h1 vue - vue.js tutorial
  #editor
    textarea #v-model=inputx