doctype html
html(lang="ja")
	head
		title vue_tutorial
		meta(charset='utf-8')
		script(src='lib/js/jquery/jquery.min.js')
		script(src='lib/js/vue/vue.min.js')
		script(src='js/vue_test.js')
	body
		#lists
			select(v-model='selected')
				option(v-repeat='lists')
					{{$value}}
			p {{selected}}
